@charset "ISO-8859-1";

::-webkit-scrollbar { 
    display: none; 
}

#outerchatbox {
	border-collapse: collapse;
	width: 100%;
}

.chatborder {
	border: 1px solid black;
}

#chatholder {
	overflow: auto; 
	max-height: 200px;
}

#chat {
	height: 200px;
}

#typesection {
	height:50px;
}

#typesection button {
	float:right;
	margin-right: 10px;
	border: 1px solid black;
    width: 110px;
    height: 25;
    height: 27px;
    border-radius: 5px;
    background-color: #00cc44;
}

#typesection input {
	margin-left: 10px;
	width: 70%;
	height: 20px;
	border: none;
}

.ourbox {
	width: 60%;
	float:right;
	table-layout: fixed;
	word-break: break-all;
}

.opponentbox {
	width: 60%;
	table-layout:fixed;
	word-break: break-all;
}

.ourbox td{
	background-color: #809fff;
    padding: 7px;
    float: right;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.opponentbox td {
	background-color: #d9d9d9;
    padding: 7px;
    float: left;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.dchatheader {
	text-align: center;
	width: 100%;
}

.dchatheader #gotorder {
	line-height: 20px;
	margin: 0px;
    color: #00e600;
    font-size: 2em;
    font-weight: bold;
    font-family: "Arial";
}

.dchatheader #namecust {
	margin: 10px;
    font-size: 1.25em;
    font-weight: bold;
    color: #3c3c3c;
}
