#table_form{
	margin-left: 15px;
}

#table_form tr td{
	padding-bottom: 5px;
}

.inputlabel {
	font-family: "Arial";
	font-size: 1.3em;
	color: rgb(42, 90, 27);
	padding-right: 25px;
}

input {
	width: 100%;
	padding: 3px;
}

#next {
	background-color:  #66cc00;
	font-size: 24px;
	margin-top: 50px;
	margin-left: 40%;
	padding: 10px 25px;
	border-radius: 12px;
	border: 1px solid black	;
}

.required {
	padding-left: 15px;
	color: red;
	font-size: 0.9em;
	font-family: "Arial";
}

.content {
	height: 400px;
}

.content h2 {
	font-size: 30px;
}

#findorder {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 180px;
    height: 50px;
    font-size: 20px;
    background: #25B700;
    border: solid black;
    border-width: 1px;
    border-radius: 10px;
    outline: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#findingorder {
	height: 200px;
	position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#cancelorder {
	position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 180px;
    height: 50px;
    font-size: 20px;
    background: #FF4232;
    border: solid black;
    border-width: 1px;
    border-radius: 10px;
    outline: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#closechat {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 180px;
    height: 50px;
    font-size: 20px;
    background: #25B700;
    border: solid black;
    border-width: 1px;
    border-radius: 10px;
    outline: none;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}